
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Blog.Models;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/indexstyle.css">
    <title>BlogYR</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>Блог про подорожі Христофора Колумба</h1>
        </div>
        <div class="sidebar">
            <div class="categories">

                <h1>Категорії</h1>
                <section id="submenu">
                    <ul>

                        @foreach (var s in ViewBag.Categories)
                        {
                            <li><a href="/Category/Category/@s.CategoryId">@s.CategoryName</a></li>
                        }

                    </ul>
                </section>
            </div>
            
        </div>
        <div class="content">
            <br />
          
            <div class="posts">
                <ul class="Articles clearfix">
                    @foreach (var b in ViewBag.Articles)
                    {
                        if (b.CN.CategoryId == ViewBag.Id)


                        {
                        <li class="product-wrapper">
                            <section class="product">
                                <img src="@b.path" style="width:1100px;height:450px;" />
                                <br />
                               @b.Title
                                <br />
                               @b.Discription
                                <br>
                                <div class="details">
                                    <a>Детальніше</a>
                                </div>
                            </section>
                        </li>
                        }

                    }
                </ul>
            </div>
        </div>
    </div>
</body>
</html>