@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ХПК<br />
   ОКРПЗ<br />
    
</address>

<address>
    <strong>Бек-енд:</strong>   <a>Рома</a><br />
    <strong>Фронт-енд:</strong> <a>Юра</a>
    <p>Люблю музику , спорт,  комп'ютери</p>
    <strong>Тести:</strong>   <a>Петро</a><br />
</address>